.navbar {
    background-color: white;
    margin-left: auto;
}

.navbar a {
    color: #000000;
}

.navbar-nav li a {
    font-size: 1.2rem;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    justify-content: flex-start;
}

.navbar-nav li.nav-item:hover {
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.navbar-nav li.nav-item:hover a.nav-link {
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}